.head {
  position: fixed;
  left: 0;
  width: 100%;
  height: 51px;
  background-color: #3498db;
  box-shadow: 0 2px 4px 0 #3498db;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 3;
}
.head div {
  margin-left: 20px;
  color: #fff;
}

.foot {
  position: fixed;
  left: 0;
  width: 100%;
  height: 51px;
  background-color: rgb(240, 240, 240);
  box-shadow: 3px 0px 4px 0 rgba(167, 135, 135, 0.7);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease;
  z-index: 3;
}

.foot div {
  width: 30%;
  text-align: center;
}

.qiuqiu {
  position: fixed;
  bottom: 75px;
  right: 25px;
  width: 65px;
  height: 65px;
  border-radius: 65px;
  background-color: #3498db;
  box-shadow: 4px 4px 20px 0px rgba(167, 135, 135, 0.5);
  transition: all 0.5s ease;
  z-index: 2;
}
